@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

/* Start Line */
:root {
    --border-color: rgb(185, 185, 185);
    --text-color: rgb(74, 74, 74);
    --menu-background-color: rgba(0, 0, 0, 0.75);
}

html, body {
    margin: 0;
    padding: 0;
}

*:not(.inMenu *) {
    color: var(--text-color);
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid var(--border-color);
    display: flex;
}

header > * {
    /* User Select */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    font-size: larger;
    font-weight: bold;
    padding: 10px;
}

header div.logo {
    font-family: 'Poppins', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
}
header div.logo:hover, header div.menu i:hover {
    color: var(--border-color);
    cursor: pointer;
}
header div.menu i:hover {
    outline-offset: 5px;
    outline: 2px solid var(--border-color);
}

header div.menu {
    font-size: x-large;
    position: fixed;
    left: auto;
    right: 30px;
}

header div.inMenu {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
    display: none;
    font-family: 'Zen Kurenaido', sans-serif;
    opacity: 0.8;
    transform: 1s opacity;
}

header div.inMenu.open {
    display: block;
}

header div.inMenu div.close {
    position: fixed;
    top: 30px;
    left: auto;
    right: 30px;
    font-size: xx-large;
    cursor: pointer;
}

header div.inMenu * {
    color: #fff;
}

header div.inMenu .lists {
    position: fixed;
    text-align:center;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

header div.inMenu .list {
    font-size: xx-large;
    text-align:center;
    padding: 10px;
    cursor: pointer;
}

header div.inMenu .list:hover {
    border-bottom: 2px solid #fff;
}

/* main */

main {
    padding: 70px;
}

main > * {
    padding: 10px;
}
main > *:not(h1, h2, h3, h4, h5, h6) {
    margin: 5px;
}

main ul, main ol {
    margin-left: 30px;
    padding: 10px;
}

main p {
    margin: 5px;
}

main h1, main h2, main h3 {
    border-bottom: 1px solid var(--border-color);
}

main h2 {
    font-size: 25px;
}

main h3 {
    font-size: 18.72px;
}

table {
    border-collapse: collapse;
    border: 3px solid var(--border-color);
}

thead th {
    border-bottom: 3px solid var(--border-color);
}
tbody td {
    border-bottom: 1px dashed var(--border-color);
}

td, th {
    padding: 8px 20px;
}

main blockquote {
    padding-left: 15px;
    border-left: 4px solid var(--border-color);
}
/* footer */
footer {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid var(--border-color);
}

footer * {
    color: var(--border-color);
}

footer p {
    text-align: right;
    padding: 30px 30px;
}